<div class="container">
    <h1>Bienvenido {{this.first_name}}</h1>
    {{#if email}}
    <p>email: {{this.email}}</p>
    {{/if}}
    <p>rol: {{this.rol}}</p>
  <table  class="table">
  <tr>
    <th scope="col">Producto</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Precio</th>
  </tr>
  {{#each productos}}
  <tr scope="row">
    <td>{{this.title}} </td>
    <td>{{this.description}} </td>
    <td>{{this.price}} </td>
  </tr>
    {{/each}}
</table>
</div>